.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  justify-content: space-between;
  display: flex;
  padding: 3rem;
  align-items: center;
}

.navLinks {
  display: flex;
  gap: 2rem;
}

.link {
  text-decoration: none;
  color: #fff;
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.linkActive {
  font-weight: bold;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 1rem;
  }

  .navbar img {
    width: 100px;
    height: 100px;
    margin-right: 1.5rem;
  }

  .navLinks {
    flex: 1;
    justify-content: flex-start;
    gap: 1rem;
  }

  .link {
    font-size: 1rem;
  }
}
