.workSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 2rem;
  padding: 2rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.workFormat {
  gap: 2rem;
}

.workIntro {
  font-size: clamp(1rem, 2vw, 1.25rem);
  max-width: 700px;
  padding: 5rem 0rem;
  margin: 0 auto;
}
