.workSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 2rem;
  padding: 2rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.workFormat {
  gap: 2rem;
  background-color: #d9d9d9;
}

.paragraph {
  font-size: 1.25rem;
  font-weight: bold;
  color: #2e5c57;
  line-height: 1.5;
}

.subText {
  font-size: 1.25rem;
  color: #2e5c57;
  line-height: 1.6;
}

.workIntro {
  font-size: clamp(1rem, 2vw, 1.25rem);
  max-width: 700px;
  padding: 5rem 0rem;
  margin: 0 auto;
  color: #2e5c57;
}

.subText span {
  color: #6181e1;
}
